@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 94%;
    --foreground: 0 0% 6%;

    --muted: 0 0% 88%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 93%;
    --popover-foreground: 0 0% 7%;

    --card: 0 0% 93%;
    --card-foreground: 0 0% 7%;

    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;

    --secondary: 0 0% 86%;
    --secondary-foreground: 0 0% 14%;

    --accent: 0 0% 84%;
    --accent-foreground: 0 0% 6%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --border: 0 0% 88%;
    --input: 0 0% 88%;
    --ring: 221.2 83.2% 53.3%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 6%;
    --foreground: 0 0% 94%;

    --muted: 0 0% 12%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 7%;
    --popover-foreground: 0 0% 93%;

    --card: 0 0% 7%;
    --card-foreground: 0 0% 93%;

    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 0 0% 14%;
    --secondary-foreground: 0 0% 86%;

    --accent: 0 0% 14%;
    --accent-foreground: 0 0% 94%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --border: 0 0% 12%;
    --input: 0 0% 12%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }
  h2 {
    @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0;
  }
  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }
  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }
  .p {
    @apply leading-7 [&:not(:first-child)]:mt-6
  }
  code {
    @apply font-geist-mono;
  }
  blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }
  .lead {
    @apply text-xl text-muted-foreground;
  }
  .large {
    @apply text-lg font-semibold;
  }
  .small {
    @apply text-sm font-medium leading-none;
  }
  .muted {
    @apply text-sm text-muted-foreground;
  }
}
